@tailwind base;
@tailwind components;
@tailwind utilities;
.rounded-lg {
    border-radius: 1.25rem;
}

.grad {
  background-image: linear-gradient(to bottom , #4299e1, #f56565);
}

.bg-gray-200 {
    background: #f2f2f2;
}
.bg-gray-400 {
    background: #C4C4C4;
}
.bg-gray-600 {
    background: #7B7B7B;
}

.bg-gray-800 {
    background: #585858;
}
.bg-gray-1000 {
    background: #4D4D4D;
}
@media (max-width: 375px) {
    .home {
        padding-bottom: 71px;
    }
}
@media (min-height: 835px) {
    .wrapper {
        height: 100vh;
    }
}
